# Python Strings and Exceptions

This notebook corresponds to mission 07 of [dataquest](https://www.dataquest.io).

**Summary:**
* Upper, lower, tittle, replace, split & join
* Format print
* Try/Except

---

## Strings Manipulation:

**Replace**

In [1]:
first_str= "This is my friend Suzanne. Suzanne and I like to play video games"
print(first_str.replace("Suzanne", "Suzi"))

This is my friend Suzi. Suzi and I like to play video games

**Upper - Lower - Title**

In [2]:
name = "breNO"
print(name.upper())
print(name.lower())
print(name.title())

BRENO
breno
Breno

**Split**

In [3]:
three_peat = "1991-1993"
print(three_peat.split("-"))

['1991', '1993']

**String Join**

In [4]:
#str.join(iterable)

In [5]:
meetings = ["1pm", "2pm", "3pm", "5pm"]
print("Basicc list print: ", meetings)

meetings_string = ", ".join(meetings)
print("\nBasic join use into a list: ", meetings_string)


output = "\nToday you have meetings at:\n-"
meetings_bullets =  "\n- ".join(meetings)
print(output,meetings_bullets)

Basicc list print:  ['1pm', '2pm', '3pm', '5pm']

Basic join use into a list:  1pm, 2pm, 3pm, 5pm

Today you have meetings at:
- 1pm
- 2pm
- 3pm
- 5pm

**Format** - Meant to avoid typeerror

In [6]:
name = "Keli"
favorite_number = 21

output = "My friend {}'s favorite number is {}".format(name, favorite_number)
print(output)

My friend Keli's favorite number is 21

In [7]:
num = 32.5548651132
print("I own {}% of the company".format(num))

I own 32.5548651132% of the company

In [8]:
print("I own {:.2f}% of the company".format(num))

I own 32.55% of the company

In [9]:
print("I own {:.0f}% of the company".format(num))

I own 33% of the company

In [10]:
print("I own {:.4f}% of the company".format(60.1))

I own 60.1000% of the company

In [11]:
print("The approximate population of India is {:,}".format(1324000000))

The approximate population of India is 1,324,000,000

In [12]:
print("Your bank balance is ${:,.2f}".format(12345.678))

Your bank balance is $12,345.68

In [13]:
print("| {:<20} |".format("MY_VALUE"))
print("| {:^20} |".format("MY_VALUE"))
print("| {:>20} |".format("MY_VALUE"))

| MY_VALUE             |
|       MY_VALUE       |
|             MY_VALUE |

In [14]:
for width in [10, 15, 20]:
    print("| {:>{},.2f}".format(12345, width))

|  12,345.00
|       12,345.00
|            12,345.00

### When handling exceptions we can use try/except, for exceptions like:
* ValueError
* IndexError
* IndentationError
* SyntaxError
* TypeError

In [15]:
def convert_to_int(n):
    return int(n)

num_strings = ["1", "2", "", "4"]
num_ints = []

for n in num_strings:
    try:
        n_int = convert_to_int(n)
    except:
        n_int = "invalid"
    num_ints.append(n_int)

print(num_ints)

[1, 2, 'invalid', 4]

<img src="https://s3.amazonaws.com/dq-content/351/try_except_2.svg" alt="Drawing" style="width:500px"/>

### Except alone will catch all exceptions, this might be a bad idea. So there is a option to specify which exception we want to catch by naming it in front of 'except'

In [16]:
num_ints = []
for n in num_strings:
    try:
        n_int = convert_to_int(n)
    # we've added `ValueError` to the line below
    except ValueError:
        n_int = "invalid"
    num_ints.append(n_int)
print(num_ints)

[1, 2, 'invalid', 4]